/* Colors */

:root {
    --orange: hsl(25, 97%, 53%);
    --white:  hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(218, 10%, 33%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

/* Font */

body {
    font-family: 'Overpass', sans-serif;
}

/* Rating state start */

.container {
    background: var(--very-dark-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao {
    background-color: var(--dark-blue);
    width: 88%;
    margin: 0 1.5rem;
    border-radius: 1.5rem;
    padding: 2.5rem;
}

.estrela {
    background-color: var(--medium-grey);
    padding: 1rem;
    border-radius: 50%;

}

h1 {
    font-size: 2rem;
    color: var(--white);
    margin-top: 1.5rem;
}

.conteudo-texto {
    font-size: 1.2rem;
    color: var(--light-grey);
    line-height: 2.2rem;
    margin-top: 1.5rem;
}

.container-avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avaliacao {
    color: var(--light-grey);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--medium-grey);
    padding: 1rem;
    border-radius: 50%;
    margin: 2.6rem .5rem 0;
}
