/* Rating state start */

.container {
    background: var(--very-dark-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.cartao {
    background-color: var(--dark-blue);
    width: 70vw;
    margin: 0 1.5rem;
    border-radius: 1.5rem;
    padding: 2.5rem;
}


.estrela {
    background-color: var(--medium-grey);
    padding: 1rem;
    border-radius: 50%;

}

.titulo-cartao {
    font-size: 2rem;
    color: var(--white);
    margin-top: 1.5rem;
}

.conteudo-texto {
    font-size: 1.2rem;
    color: var(--light-grey);
    line-height: 2.2rem;
    margin-top: 1.5rem;
}

.container-avaliacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botao-nota {
    color: var(--light-grey);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--medium-grey);
    padding: 1rem;
    border-radius: 50%;
    margin: 2.6rem .5rem 0;
}

.botao-nota:hover {
    background-color: var(--orange);
    cursor: pointer;
    color: var(--white);
}

.ativo {
    background-color: var(--light-grey);
    color: var(--white);
}

.container-botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.botao-submit {
    background-color: var(--orange);
    border-radius: 4rem;
    border: none;
    width: 88%;
    padding: 1.2rem;
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.botao-submit:hover {
    background-color: var(--white);
    cursor: pointer;
    color: var(--orange);
    font-weight: 700;
}

/* Thank you state start */

.cartao-agradecimento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultado-texto {
    background-color: var(--medium-grey);
    padding: .7rem;
    border-radius: 4rem;
    color: var(--orange);
    margin-top: 1.5rem;
}

.agradecimento-texto {
    text-align: center;
}

.hide {
    display: none;
}
